body{
  margin: 0;
  padding: 0;
  background-color: #e6d0af;
}
.container_postif_container{
background-color: #3c342e;
width: 90%;
height: 100vh;
box-sizing: border-box;
margin-left: 5%;
position: fixed;
border-radius: 10px;

}
.posfif_container{
  width: 70%;
  height: 90vh;
  background-color: #e6d0af;
  margin-left: 10%;
  margin-top: 2.5%;
  position: fixed;
  border-radius: 10px;
}
.postif{
  background-color: #64cbe9;
  box-shadow: 8px 10px 10px #1a82a1;
  width: 50%;
  height: 80vh;
  margin-left: 25%;
  margin-top: 3%;
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
}
.postif_text{
font-style:italic;
margin: 3%;
font-size: 1.9em;
text-align: center;
}
.postif_person{
font-style:italic;
text-decoration: underline;
font-size: 2em;
text-align: center;
}